$main-color: #3f66da;
$dark: #121212;
$light: #f7f7f7;
$checked: #44b179;
$red: #e7676e;

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to top,
    #f7f7f7,
    #f5f5f5,
    #f2f2f2,
    #f0f0f0,
    #eeeeee
  );
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.page-title {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: $main-color;
  font-weight: 900;
}

.piano {
  width: 40px;
}

main {
  display: grid;
  place-items: center;
  gap: 3rem;
  padding: 4rem 1rem;
  border-radius: 10px;
}

.days {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0.25rem;

  label {
    color: $dark;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    font-weight: 500;
  }

  input[type="checkbox"] {
    background-color: $light;
    width: 35px;
    height: 35px;
    appearance: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s ease;
    border: solid 2px #ddd;

    &:checked {
      position: relative;
      background-color: $checked;
      border: solid 2px $checked;

      &::after {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        content: "\f00c";
        font-size: 1.2rem;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.btn {
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: #ddd;
  color: $dark;
  border: none;
  border-radius: 10px;
  font-weight: 500;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.btn--red {
  background-color: $red;
  color: $light;
}

.btn--main-color {
  background-color: $main-color;
  color: $light;
}
.study-streak {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  h2 {
    text-align: center;
    color: $dark;
    user-select: none;
  }

  &__counter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.4rem;

    #streak-count {
      width: 2rem;
      font-size: 1.2rem;
      background-color: transparent;
      color: $dark;
      border: none;
      text-align: center;
    }
  }

  .fa-solid {
    padding: 1rem;
    background-color: $light;
    color: $main-color;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
      background-color: $main-color;
      color: $light;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &__buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
}

@media screen and (hover: hover) {
  input[type="checkbox"]:hover {
    background-color: lighten($checked, 15%);
    border: solid 2px lighten($checked, 15%);
  }
}

@media screen and (min-width: 640px) {
  .page-title {
    font-size: 1.5rem;
  }

  .piano {
    width: 50px;
  }

  .study-streak__buttons {
    flex-direction: row;
  }
}
